.customHeaderClass {
  position: relative;
  background: url("../../public/headerBg.png") lightgray 50% / cover no-repeat;
  height: 100vh;
}
.customBlogClass {
  position: relative;
  background: url("../../public/blogHero.jpg") lightgray 50% / cover no-repeat;
  height: 100vh;
}

.customHeaderClass::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.733);
  z-index: 1;
}

header > div {
  position: relative;
  z-index: 2;
}

.centeredContent {
  min-height: 85%;
}

.header {
  position: relative;
  z-index: 1;
}

.header .content {
  position: relative;
  z-index: 10;
}

.btnContainerBlog {
  position: absolute;
  bottom: 30%;
  right: 10%;
}

.learnMoreButton {
  position: relative;
  padding-bottom: 10px; /* Adds spacing between the text and the line */
  transition: color 0.3s ease; /* Optional: transition for text color on hover */
}

.learnMoreButton::before {
  content: "";
  position: absolute;
  bottom: 0; /* Aligns it at the bottom of the button */
  width: 85%; /* Default line width */
  height: 1px; /* Thickness of the line */
  background-color: #fffdf7; /* Line color */
  transition: width 0.3s ease; /* Transition for width change */
}

.learnMoreButton:hover::before {
  width: 100%; /* Expand to full width on hover */
}

.learnMoreButtonBlog {
  position: relative;
  padding-bottom: 10px; /* Adds spacing between the text and the line */
  transition: color 0.3s ease; /* Optional: transition for text color on hover */
}

.learnMoreButtonBlog::before {
  content: "";
  position: absolute;
  bottom: 0; /* Aligns it at the bottom of the button */
  width: 85%; /* Default line width */
  height: 1px; /* Thickness of the line */
  background-color: #fffdf7; /* Line color */
  transition: width 0.3s ease; /* Transition for width change */
}

.learnMoreButtonBlog:hover::before {
  width: 100%; /* Expand to full width on hover */
}
